<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>My Own Herodotus</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=send" />
<style>
    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
    }
    </style>
<link rel="icon" type="image/x-icon" href="/favicon.ico" />

</head>
<body>
    <div class="container">
        <p class="title is-1">My Own Herodotus</p>
        <p class="subtitle is-3">A travel guide for everyone</p>
        <hr class="bd-hr">
        Oh noes! Something went wrong!

        Worry not, the Spartan army and Athenian navy have been informed.
    </div>
</body>
</html>