<!doctype html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Own Herodotus</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
    <script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-auth-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.css" />
</head>
<body>
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-vcentered">
                    <div class="column is-6 is-offset-3">
                        <p class="title is-1">My Own Herodotus</p>
                        <p class="subtitle is-3">A travel guide for everyone</p>
                        <hr class="bd-hr">
                        <br>
                        <p class="has-text-centered">
                            <a id="signIn" class="button is-medium is-info is-outlined">
                                Sign In
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="module" src="js/appInit.js"></script>
    <script type="module" defer src="js/signIn.js"></script>
</body>
</html>