<!doctype html>
<html lang=en>
<head>
<meta charset=utf-8>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>My Own Herodotus</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="preload" as="font">
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.0.0/firebase-auth-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.css" />

<script type="text/javascript"> 
    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyDnKibyq0hqXx1bgovBkItN6aHY_i7tY_o",
      authDomain: "erschmid-test-291318.firebaseapp.com",
      projectId: "erschmid-test-291318",
      storageBucket: "erschmid-test-291318.appspot.com",
      messagingSenderId: "1025771077852",
      appId: "1:1025771077852:web:3b528f96c12bbe56b87419"
    };
  
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    //</script>
    //<script type="text/javascript">

    window.addEventListener('load', async function() {
        // FirebaseUI config.
        const uiConfig = {
            signInOptions: [
                firebase.auth.GoogleAuthProvider.PROVIDER_ID,
            ],
            tosUrl: "https://github.com/telpirion/MyHerodotus",
            privacyPolicyUrl: "https://github.com/telpirion/MyHerodotus",
            signInFlow: "redirect",
            callbacks: {
                signInSuccessWithAuthResult: function (authResult, redirectUrl) {
                    console.log("signInSuccessWithAuthResult:", authResult, redirectUrl);
                    return true;
                },
                uiShown: async function () {
                    console.log("uiShown");
                },
            },
        };

        // Initialize the FirebaseUI Widget using Firebase.
        var ui = new firebaseui.auth.AuthUI(firebase.auth());
        // The start method will wait until the DOM is loaded.
        await firebase.auth.getRedirectResult();
        ui.start('#firebaseui-auth-container', uiConfig);
    });
  </script>
</head>
<body>
    <div class="container">
        <p class="title is-1">My Own Herodotus</p>
        <p class="subtitle is-3">A travel guide for everyone</p>
        <hr class="bd-hr">
    
        <div id="firebaseui-auth-container"></div>
    </div>
</body>
</html>